body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.navbar a {
  text-decoration: none;
  font-size: larger;
  color: white;
}
.title {
  text-align: center;
  text-decoration: underline;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.search-bar {
  padding: 1rem 2rem;
  font-size: large;
}
.movie {
  width: 25vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 8px solid white;
  border-radius: 1em;
  padding: 0.5em;
}

.movie-img {
  height: 40%;
  width: 80%;
}

.desc {
  height: 90px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-open {
  height: auto;
  width: 90%;
}

.btn {
  background-color: black;
  color: white;
  border: white 1px solid;
  border-radius: 10px;
  padding: 2%;
}

.movie-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .movie-list {
    grid-template-columns: 1fr 1fr;
  }

  .movie {
    width: 35vw;
  }
}

@media only screen and (max-width: 600px) {
  .movie-list {
    grid-template-columns: 1fr;
  }

  .movie {
    width: 80vw;
  }
}
